* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background: rgb(181, 196, 204);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.container{
    width: 15%;
    background-color: white;
    padding: 0.7rem 0.7rem 3rem 0.7rem;
    margin: 5rem auto;
    border-radius: 10px;
}
.image-container{
    border-radius: 10px;
}
.image-container img{
    width: 100%;
    object-fit:contain;
    border-radius: 10px;
}
h2,p{
    text-align: center;
}
